
.swagger-ui {
    background-color: #eaeaea !important;
}

.swagger-ui .topbar {
    background-color: #444444 !important;
}

.swagger-ui .scheme-container {
    background: #eaeaea !important;
}

.title {
    color: #ffffff !important;
}

.btn.authorize {
    background-color: #ffffff !important;

    &.unlocked {
        color: #cf3030;

        & svg {
            fill: #cf3030;
        }
    }

    &.locked {
        color: #49cc90;

        & svg {
            fill: #49cc90;
        }
    }
}

.opblock-summary span {

    color: #000;
}

.models {
    background: #fff;
}

.swagger-ui .auth-btn-wrapper {

   justify-content: start;
   gap: 10px;
}