@page "/NewAPIUser"

@rendermode InteractiveServer

@using LocalEyes.Services
@using LocalEyes.Shared.Models
@using LocalEyes.Components.Layout

@inject UserService UserService
@inject MunicipalityService MunicipalityService
@inject NavigationManager Navigation

<PageTitle>New API User</PageTitle>

<h3 class="mb-3">New API User</h3>

<EditForm Model="newApiUser" OnValidSubmit="CreateUser">

    <DataAnnotationsValidator />
    <ValidationSummary />

     <div class="col-md-12">

        <div class="col-md-4">

            <div class="form-fields">

                <label>Email</label>
                <InputText @bind-Value="newApiUser.Email" class="form-control" />
                <ValidationMessage For="() => newApiUser.Email" />

            </div>

            <div class="form-fields">

                <label>Password</label>
                <InputText @bind-Value="newApiUser.Password" type="password" class="form-control" />
                <ValidationMessage For="() => newApiUser.Password" />

            </div>

            <button type="submit" class="btn btn-primary mt-4">Create API User</button>

        </div>

        <div class="col-md-8">
        </div>

    </div>

</EditForm>

@code {

    private LocalEyes.Shared.Models.NewAPIUser newApiUser = new();


    private async Task CreateUser()
    {
        await UserService.CreateAPIUserAsync(newApiUser);

        Navigation.NavigateTo("/users", forceLoad: true);
    }
}
