@page "/"

<PageTitle>Start</PageTitle>



<div class="home-page-center-div">

    <h1>Welcome to LocalEyes</h1>



    <p>To view and create new reports, select <strong>Reports</strong> from the menu</p>

</div>




